/* Main Overlay Things */
@import url("overlay.css");
@import url("components/overlay_image.css");

/* flip-card */
@import url("components/flip_card.css");

#open-close {
  position: relative;
  top: 10px;
  left: 10px;
  font-size: 20px;
  font-weight: bold;
  color: brown;
  display: inline-block;
  z-index: 1000;
}