#main {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom, rgba(97, 192, 221, .2), rgba(126, 194, 240, 0.3)),
    url("./../images/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.restaurant-box {
  /* position: relative; */
  width: 200px;
  text-align: center;
  /* z-index: 1000; */
  /* background-color: rgba(255, 0, 0, 0.4); */
  height: calc(100vh - 200px);
  margin-top: 100px;
  /* margin-left: -100px; */
  /* background-color: burlywood; */
}
.restaurant-box > p{
  position: relative;
  z-index: 200;
}

.super-circle {
  position: relative;
  background-image: url(../../images/logo.png);
  margin: 0 auto;
  z-index: 200;
  width: 100px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 8px;
}

.text {
  position: absolute;
  color: rgb(255, 23, 0);
  transform: rotateZ(-30deg);  
}

.super-circle .super-circle-letters {
  display: inline-block;
  position: absolute;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0,0,0, 0.3);
  transform-origin: 0 100px;
}

.restaurant-box .true-fact {
  font-weight: bold;
  color: rgb(255, 142, 1);
  /* text-shadow: 1px 1px 2px rgba(179, 166, 166, 0.6);*/
  text-shadow: 1px 1px 2px red;
}

.letter-s {
  letter-spacing: 0.06em;
}

#phone-number a {
  margin-left: 0.5em;
  color:rgba(233, 243, 205, 0.4)
}

#phone-number:hover {
  animation: shake 1s linear 1;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0px, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 2px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 4px, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 4px, 0);
  }
}

@media (min-width: 1360px) {
  .restaurant-box {
    margin-left: -100px;
  }
}
@media (max-width: 1360px) {
  .restaurant-box {
    margin-left: -60px;
  }
}

@media (max-width: 1044px) {
  .restaurant-box {
    margin-top: 80px;
  }
}

@media only screen and (max-width: 768px) {
  .restaurant-box {
    margin: 16px auto 0;
    padding: 0;
    height: auto;
  }

  .restaurant-box > p {
    /* display: none;   */
    position: static;
  }
}