#main {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom, rgba(97, 192, 221, .2), rgba(126, 194, 240, 0.3)),
    url("https://media.istockphoto.com/photos/wood-texture-table-top-with-blur-light-gold-bokeh-in-caferestaurant-picture-id1129661826?k=20&m=1129661826&s=170667a&w=0&h=AH4VbziLR5crmBEGYGY1FD5mCZFAvBLDs29c26tRYms=");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.restaurant-box {
  position: relative;
  width: 200px;
  text-align: center;
  padding: calc(16vh - 100px) 8px 0;
  z-index: 1000;
  background-color: rgba(255, 0, 0, 0.4);
  height: calc(100vh - 200px);
  margin-top: 100px;
  /* margin-left: -100px; */
  /* background-color: burlywood; */
}

.super-circle {
  position: relative;
  background-image: url(../../images/logo.png);
  margin: 0 auto;
  width: 100px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 8px;
} 

.text {
  position: absolute;
  color: rgb(255, 23, 0);
  transform: rotateZ(-30deg);  
}

.super-circle span {
  display: inline-block;
  position: absolute;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0,0,0, 0.3);
  transform-origin: 0 100px;
}

.restaurant-box .true-fact {
  font-weight: bold;
  color: rgb(255, 142, 1);
  /* text-shadow: 1px 1px 2px rgba(179, 166, 166, 0.6);*/
  text-shadow: 1px 1px 2px red;
}

.letter-s {
  letter-spacing: 0.06em;
}

#phone-number a {
  margin-left: 0.5em;
  color:rgba(233, 243, 205, 0.4)
}

#phone-number:hover {
  animation: shake 1s linear 1;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0px, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 2px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 4px, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 4px, 0);
  }
}

@media (max-width: 1360px) {
  .restaurant-box {
    margin-left: -80px;
  }
}