
.main-image-box {
  position: relative;
  /* margin-top: 80px; */
  height: 100%; 
  width: 600px;
  margin-left: 100px;
  margin-right: 50px;
}

.image-over-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(108, 206, 165, 0.5);
}

.main-image {
  height: 100%; 
  width: 100%;
  object-fit: cover;
}

/* Icons over image */
.icons {
  font-style: none;
  position: absolute;
  list-style: none;
  font-size: 1.5em;
  right: -0.5em;
  bottom: 4em;
}

.icons li {
  background-color: rgba(245, 245, 220, 0.5);
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin: .8em 0;
  transform: translateX(200px);
  line-height: 1.5em;
  opacity: 0;
  transition: transform 0.8s ease-out,
              opacity 0.8s linear;
}


.icons .x-move {
  transform: translateX(0);
  opacity: 1;
}

.icons .x-move:nth-child(1) {
  transition-delay: 1.5s;
}
.icons .x-move:nth-child(2) {
  transition-delay: 2s;
}
.icons .x-move:nth-child(3) {
  transition-delay: 2.2s;
}

.icons li a:hover {
  color: rgba(66, 66, 42, 0.61); 
}

@media (max-width: 1280px) {
  .main-image-box {
    width: 500px;
  }
}
