.food-card {
  width: 200px;
  background-color: white;
  text-align: left;
}

.food-image {
  width: 100%;
  object-fit: cover;
  float: left;
}

.mod-food-card {
  display: inline-block;
  margin: 0px;
  background-color: inherit;
}