@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.restaurant-box {
  position: relative;
  width: 200px;
  text-align: center;
  margin-left: -100px;
}

.super-circle {
  position: relative;
  background-image: url(../../images/logo.png);
  margin: 0 auto;
  width: 100px;
  height: 180px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 8px;

}

.text {
  position: absolute;
  /* left: 36px; */
  /* background-color: blue; */
  /* transform-origin: 0 0; */
  transform: rotateZ(-30deg);  
}

span {
  display: inline-block;
  position: absolute;
  transform-origin: 0 100px;
  /* background-color: aqua; */
  border-top: 2px solid black;
}
